/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
.theme-default-content
  max-width 990px!important

.fullwidth-page .theme-default-content
  max-width 100%!important