.aw-listing {
  clear: both;
  .total-count {
    color: inherit;
  }
  .aw-segment-table-wrapper {
    width: auto;
    margin-top: inherit;
    padding: 3px;
    margin-bottom: 5px;
    float: left;

    .nav-link {
      display: block;
      padding: 0.1rem 0.7rem;
    }
  }
}
