.btn-main-style {
  @extend .btn-primary !optional;
}

.btn-alt-style {
  color: var(--secondary);
  @extend .btn-primary !optional;
}

.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}

.btn-simple {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn:disabled {
  opacity: 0.5 !important;
}

button.btn.aw-button-add {
  // background-color:  !important;
  color: var(--primary) !important;
  vertical-align: top;
}
