.field-group {
  &.subgroup-auto {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    margin-bottom: 5px;
  }

  .form-element {
    .hint {
      opacity: 0;
      visibility: hidden;
      font-size: 75%;
      color: #999;
      font-style: italic;
      --webkit-transition: opacity 200ms linear 500ms;
      transition: opacity 200ms linear 500ms;
      line-height: 1;

      font-size: 60%;
      color: #999;
      font-style: italic;
      position: absolute;
      width: calc(100% - 40px);
      left: 20px;
      background: white;
      box-shadow: 0 0 2px #999;
      z-index: 110;
      padding: 10px;
      margin-top: 10px;
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      .hint {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.op-50 {
  opacity: 0.5;
}
