.field-group {
  &.subgroup-auto {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    margin-bottom: 5px;
  }

  .form-element {
    input,
    select {
      font-size: 12px;
    }
    .field-content {
      .hint {
        --webkit-transition: opacity 200ms linear 500ms;
        background: white;
        color: #999;
        color: #999;
        font-size: 60%;
        font-size: 75%;
        font-style: italic;
        font-style: italic;
        line-height: 1;
        margin: 0px;
        opacity: 0;
        opacity: 0;
        padding: 2px 1px;
        transition: opacity 200ms linear 500ms;
        visibility: hidden;
        visibility: hidden;
        width: 100%;
        z-index: 110;
        height: 10px;
      }
    }

    &:hover {
      .hint {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.op-50 {
  opacity: 0.5;
}
