@import "assets/scss/plugins/animate";
@import "assets/scss/plugins/mq";
@import "assets/scss/components/modal";
@import "assets/scss/components/buttons";
@import "assets/scss/components/awesome-table";
@import "assets/scss/components/sweetalert2";
